@media (max-width: 76em) {
  html {
    font-size: 59%;
  }
  .content {
    font-size: 1.6rem;
  }
}

@media (max-width: 68em) {
  html {
    font-size: 56.25%;
  }
  .topic {
    font-size: 3.9rem;
  }
}

@media (max-width: 60em) {
  .container {
    grid-template-columns: 42% 44%;
  }
}

@media (max-width: 50em) {
  .container {
    grid-template-rows: 40% 40%;
    grid-template-columns: 75%;
  }

  .content-box {
    margin-bottom: 3rem;
  }
  .topic {
    text-align: center;
    font-size: 4.4rem;
  }
  .content {
    text-align: center;
    font-size: 1.7rem;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 56.25%;
  }
  .container {
    grid-template-columns: 80%;
  }

  .topic {
    font-size: 4.2rem;
  }
  .content {
    font-size: 1.6rem;
  }
}

@media (max-width: 35em) {
  .container {
    grid-template-rows: 43% 43%;
    grid-template-columns: 85%;
  }

  .topic {
    font-size: 4.2rem;
  }
  .content {
    font-size: 1.6rem;
  }
}

@media (max-width: 30em) {
  .container {
    grid-template-rows: 43% 43%;
    grid-template-columns: 90%;
  }
}

@media (max-width: 25em) {
  html {
    font-size: 56%;
  }
  .container {
    grid-template-rows: 43% 45%;
  }

  .content-box {
    margin-bottom: 4rem;
  }

  .topic {
    font-size: 3.4rem;
  }
  .content {
    font-size: 1.6rem;
  }

  .plan {
    padding: 1.6rem 1.8rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 23em) {
  .plan {
    padding: 1.6rem 2rem;
    font-size: 2rem;
  }
}
